body, html {
  height:100%;
  @media (min-width: 992px) {
    padding: 0;
  }
}

#rightcol{

  margin-top:42px; // adds space on top of H1 Tags
  @media (max-width: 992px) {
    margin-top: 0; // removes space when in mobile version
  }
}

.container {
    @media (min-width: 1200px){
      width: 970px;}
    @media (min-width: 768px) and (max-width: 992px) {
      width: auto;
    }
}

.canvas {
  position: relative;
  left: 0;
  z-index: 2;
  min-height: 100%;
  padding: 50px 0 0 0;
  background: #fff;
  @media (min-width: 992px) {
    padding: 0;
  }
}

//Phone Size
//@media (min-width: 768px) {}
//Tablet
//@media (min-width: 992px) {}

