/* Large Screen */
.navbar {
  top: 0;
  position: absolute;
  height: 50px;
  z-index: 9999;
  left: 0;
  right: 0;
  margin-bottom: 20px !important;
}
@media (min-width: 992px) {
  .navbar {
    background: none;
    border: none;
  }
}
.navbar .nav {
  position: relative;
  left: 0;
  display: block;
  float: left;
  margin: 0 0 0 0;
}
.navbar-default li a {
  margin-top: 6px;
  float: none;
  padding: 5px 5px 9px 17px;
  line-height: 19px;
  color: #FFFFF;
  text-decoration: none;
  text-shadow: none;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-weight: 700;
}
.navbar-inner {
  box-shadow: none;
  background-color: #4f7dd5;
  padding: 0;
  background-image: none;
  background-repeat: no-repeat;
  filter: none;
  height: 42px;
  margin-top: 0;
  clear: both;
}
.navbar-inner .btn-search {
  height: 27px;
  width: 27px;
  margin-top: 0;
  background-color: #7aa3f2;
}
.navbar-search {
  position: relative;
  float: left;
  margin-top: 4px;
  margin-bottom: 0;
}
.navbar-search .search-query {
  -moz-transition: none;
  background-color: #7aa3f2 !important;
  border: none;
  box-shadow: none;
  color: #FCFCFC;
  font-size: 13px;
  font-weight: normal;
  padding: 5px 10px;
  text-shadow: none;
  height: 27px !important;
  width: 110px;
}
/* Mobile */
.navbar-toggle {
  float: left;
  margin-left: 15px;
  display: block;
}
.navbar-toggle .icon-bar {
  background-color: white;
}
.navbar-toggle:hover {
  background: #1e407f;
}
.navbar-toggle:focus {
  background: #1e407f;
}
.logo-sm {
  padding: 2px 0 0 0;
  height: 100%;
  background-color: #1e407f;
  margin: 0;
  float: left;
}
.logo-sm img {
  height: 23px;
}
.bluebar-mobile {
  padding: 0;
  background-image: none;
  background-repeat: no-repeat;
  filter: none;
  margin-top: 0;
  clear: both;
  height: 42px;
  box-shadow: none;
  background-color: #4f7dd5;
}
.bluebar-mobile li {
  height: 100%;
}
.bluebar-mobile li a {
  height: 100%;
}
.bluebar-mobile .navbar-nav {
  margin: 0;
  height: 100%;
}
@media (min-width: 768px) {
  .bluebar-mobile li > a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
.bluebar-mobile-button {
  float: left;
}
@media (max-width: 768px) {
  .bluebar-mobile-button {
    background: none;
    border: none;
    color: white;
    padding-top: 14px;
  }
  .bluebar-mobile-button .signup {
    background: #5cb85c;
  }
  .bluebar-mobile-button .donate {
    background: #f0ad4e;
  }
}
